#ce_sanitizeHistory{
  list-style-image: url("chrome://cmimprove/skin/sanitize.png") !important;
  -moz-box-orient: horizontal;
}
#ce_sanitizeHistory:-moz-lwtheme-brighttext {
  list-style-image: url("chrome://cmimprove/skin/sanitize-inverted.png") !important;
}

#TabsToolbar:last-child :-moz-any(#ce_sanitizeHistory) {
  list-style-image: url("chrome://cmimprove/skin/sanitize-inverted.png") !important;
}

#ce_privateBrowser{
  list-style-image: url("chrome://cmimprove/skin/private.png") !important;
}
#ce_privateBrowser:-moz-lwtheme-brighttext {
  list-style-image: url("chrome://cmimprove/skin/private-inverted.png") !important;
}

#TabsToolbar:last-child :-moz-any(#ce_privateBrowser) {
  list-style-image: url("chrome://cmimprove/skin/private-inverted.png") !important;
}
