#mo-url2qr-popup > vbox {
  padding: 0 20px 10px;
}

#mo-url2qr-popup > vbox > hbox {
  height: 28px;
}

#mo-url2qr-popup > vbox > hbox:first-of-type {
  height: 42px;
}

#mo-url2qr-popup > vbox > hbox > label {
  color: #333;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1.5;
  -moz-margin-start: 2px;
  -moz-margin-end: 2px;
}

#mo-url2qr-popup > vbox > hbox:first-of-type > label {
  font-size: 18px;
}

#mo-url2qr-popup > vbox > hbox > label.text-link {
  color: #06c;
}
